<!DOCTYPE html>
<html ng-app="calcApp">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Angular Calculator</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  </head>
  <body ng-controller="calcController">
    <h1>Mini Calculator</h1>
    <form name="calculatorForm" ng-submit= "calculate(view.operator, view.firstNum, view.secondNum)">
      <div class="dropdown">
        <label for="operators">Operation</label>
        <select id="operators" ng-model="view.operator" required>
          <option value="add">Add</option>
          <option value="subtract">Subtract</option>
          <option value="multiply">Multiply</option>
          <option value="divide">Divide</option>
          <option value="power">Power</option>
        </select>
      </div>
      <div class="number">
        <label for="firstNum">First Number</label>
        <input type="number" name="firstNum" id="firstNum" ng-model="view.firstNum" required>
      </div>
      <div class="number">
        <label for="secondNum">Second Number</label>
        <input type="number" name="secondNum" id="secondNum" ng-model="view.secondNum" required>
      </div>
      <input type="submit" name="name" value="Calculate!">
    </form>
    <div class="calculated" ng-show="view.calculated">
      <h1>The value is:
        <span>
          {{ view.calculated }}
        </span>
      </h1>
    </div>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/service.js"></script>
  </body>
</html>
