<h1>{{ view.movieData.Title }}</h1>
<img ng-src="{{view.movieData.Poster}}"/>
<p>
  Starring: {{ view.movieData.Actors }}
</p>

<p>
  {{ view.movieData.Plot}}
</p>
<p>
 {{ view.movieData.Runtime }}
</p>

<h2>Additional Details</h2>
<p>
  Awards {{ view.movieData.Awards }}
</p>
<p>
  Rated: {{ view.movieData.Rated }},
</p>
<p>
  Released: {{ view.movieData.Released }},
</p>
<p>
  Genre: {{ view.movieData.Genre}},
</p>
<p>
  Director: {{ view.movieData.Director}},
</p>
<p>
  Writer: {{ view.movieData.Writer}},
</p>
<p>
  Language: {{ view.movieData.Language}},
</p>
<p>
  Country: {{ view.movieData.Country}},
</p>
<p>
  Metascore: {{ view.movieData.Metascore}},
</p>
<p>
  IMDB Rating: {{ view.movieData.imdbRating}},
</p>
<p>
  IMDB Votes: {{ view.movieData.imdbVotes}},
</p>
